section#apps.container.apps(
  class=apps[0].theme,
  data-current-slide='0',
  data-track-section
) 
  .stripes
    div
    div 
    div
  header.main 
    span.maintext Apps
    span.subtext
      | I've got
      span &nbsp;
      | for that
  .content
    .carousel-slides
      each app, index in apps
        .carousel-slide(
          class=index == 0 ? 'currentSlide' : '',
          data-styling=app.theme
        )
          .row
            .column-icon
              a(aria-label=app.appName, target='_', href=app.link)
                img.app-icon(
                  alt=app.appName,
                  loading='lazy',
                  src='../../content' + app.icon.url + '?width=80'
                )
              a.cta(href=app.link, target='_', aria-label=app.appName)
            .column-info
              a(href=app.link)
                h2 !{ app.appName }
              p !{ app.description }
          .row.photos
            each img in app.images
              img(
                src='../../content' + img.url + '?width=250',
                loading='lazy',
                title=app.appName,
                data-lightbox=img
              )
    .carousel-dots
      each app, index in apps
        button.dot(
          class=index === 0 ? 'active' : '',
          data-goto=index,
          aria-label='Go to slide #{loop.index}'
        )
    button.next.carousel-arrow(data-goto='next', aria-label='Go to next slide')
      svg
        use(xlink:href='#caret')
    button.prev.carousel-arrow(
      data-goto='prev',
      aria-label='Go to previous slide'
    )
      svg
        use(xlink:href='#caret')
