section#contact.container.contact(data-track-section)
  .content
    h2 Contact Me
    .grid
      each item in contact.contactLinks
        a.item(
          class=item.class,
          href=item.link,
          aria-label=item.text,
          rel='noopener',
          target='_blank'
        )
