---

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const apps = await getCollection("apps");
---

<div data-section="apps" class:list={["container", apps[0]?.data.theme]}>
  <div class="content">
    <hr />
    <header class="main">
      <span class="maintext">Apps</span><span class="subtext"
        >I've got<span>&nbsp;</span>for that</span
      >
    </header>
    <div class="apps--slides-container">
      {
        apps.map(async (app, index) => {
          const { Content } = await app.render();
          return (
            <div
              class:list={[
                "apps--slide app-container",
                { active: index === 0 },
              ]}
              data-styling={app.data.theme}
              data-active={index === 0}
            >
              <div class="icon-column">
                <Image
                  src={app.data.icon}
                  alt={`${app.data.appName} App Icon`}
                  width="200"
                  height="200"
                  quality={100}
                  style="width: 100px;height: 100px;"
                />
              </div>
              <div class="content-column">
                <h2>{app.data.appName}</h2>
                <Content />
              </div>
            </div>
          );
        })
      }
    </div>
    <div class="carousel-dots">
      {
        apps.map((_, index) => (
          <button
            class:list={["dot", { active: index === 0 }]}
            data-goto={index}
            aria-label={`Go to slide ${index + 1}`}
          />
        ))
      }
    </div>
    <div class="carousel-arrows">
      <button data-goto="prev" aria-label="Go to previous slide">Prev</button>
      <button data-goto="next" aria-label="Go to next slide">Next</button>
    </div>
  </div>
</div>

<style>
  :root {
    --grid-bg: #041724;
    --grid-bg-1: rgba(0, 0, 0, 0.05);
    --grid-bg-2: rgba(0, 0, 0, 0.03);
  }


  header.main {
    position: relative;
    z-index: 1;
    text-align: center;
    transition: color 0.3s;
    margin-bottom: 3rem;
    & .maintext {
      font-family: var(--font-monospace);
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%);
      width: 9rem;
      height: 9rem;
      -webkit-text-stroke: 2px black;
      font-size: 2.5rem;
    }
    & .subtext {
      text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      & span {
        vertical-align: middle;
        border: 3px solid;
        display: inline-block;
        width: 9rem;
        height: 9rem;
        position: relative;
        margin: 0 2rem;
        border-radius: 50%;
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url("../assets/icon-grid.png");
          background-size: 80%;
          background-position: center;
          border-radius: 50%;
        }
      }
    }
    @media (--tablet) {
      height: 10rem;
      line-height: 10rem;
      & .maintext {
        font-size: 2.7rem;
      }
      & .subtext {
        font-size: 2.4rem;
        margin-left: 3rem;
      }
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    );
    margin: 3rem 0;
  }
  .container {
    margin-top: -30%;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    z-index: 0;
    position: relative;
    padding-top: 30%;
    padding-bottom: 3rem;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
    color: #fff;
    &:before {
      content: "";
      position: absolute;
      top: -100rem;
      left: -100rem;
      right: -100rem;
      bottom: -100rem;
      pointer-events: none;
      overflow: hidden;
      background-image: linear-gradient(var(--grid-bg-1) 2px, transparent 2px),
        linear-gradient(90deg, var(--grid-bg-1) 2px, transparent 2px),
        linear-gradient(var(--grid-bg-2) 1px, transparent 1px),
        linear-gradient(90deg, var(--grid-bg-2) 1px, transparent 1px);
      background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    }
    &.wings-cheap {
      background-color: #ffc107;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
      color: #000;
    }
    &.betterdo {
      background-color: #2196f3;
    }
    &.tv-tracker {
      background-color: #1e9a48;
    }
    &.remote {
      background-color: #f44336;
      /* color: #000; */
    }
  }

  .content {
    max-width: calc(var(--max-width));
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }

  .app-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    display: none;
    height: 300px;
    gap: 3rem;
    &:global(.active) {
      display: flex;
    }
    & .icon-column {
      flex-shrink: 0;
      text-align: center;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    }
    & .content-column {
      h2 {
        margin: 0;
      }
      /* background: green; */
    }
  }

  .carousel-dots {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    & .dot {
      background: rgba(255, 255, 255, 0.5);
      display: inline-block;
      height: 1.4rem;
      aspect-ratio: 1 / 1;
      border: none;
      border-radius: 50%;
      &.active {
        background: #fff;
      }
    }
  }

  .carousel-arrows {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    button {
      background: #fff;
      border: none;
      padding: 0.4rem 1rem;
      border-radius: 1rem;
    }
  }
</style>

<script>
  type GoToValue = number | 'next' | 'prev';


  class Apps {
    el = document.querySelector("[data-section='apps']") as HTMLElement;
    currentIndex: number;
    slides: HTMLElement[];
    currentSlide: HTMLElement;
    dots: HTMLElement[];

    constructor() {
      this.currentIndex = 0;
      this.slides = Array.from(
        this.el.querySelectorAll(".apps--slides-container .apps--slide")
      );
      this.currentSlide = this.slides[0]!;
      this.dots = Array.from(this.el.querySelectorAll(".carousel-dots .dot"));
      this.events();
    }

    events(): void {
      Array.from(this.el.querySelectorAll("[data-goto]")).forEach((el) =>
        el.addEventListener("click", () => {
          const goto = el.getAttribute("data-goto") as GoToValue;
          this.goto(goto);
        })
      );

      // Swiping (mobile)
      let start = 0;
      let end = 0;

      this.slides.forEach((el) =>
        el.addEventListener(
          "touchstart",
          (event) => {
            if(!event.changedTouches.length) return;
            start = event.changedTouches[0]!.screenX;
          },
          { passive: true }
        )
      );

      this.slides.forEach((el) =>
        el.addEventListener(
          "touchend",
          (event) => {
            if(!event.changedTouches.length) return;
            end = event.changedTouches[0]!.screenX;
            handleGesture(start, end, 50);
          },
          { passive: true }
        )
      );

      const handleGesture = (
        touchstart: number,
        touchend: number,
        threshold: number
      ) => {
        if (touchend < touchstart && touchstart - touchend >= threshold) {
          this.goto("next");
        } else if (
          touchend > touchstart &&
          touchend - touchstart >= threshold
        ) {
          this.goto("prev");
        }
      };
    }

    goto(slide: GoToValue): void {
      console.log("HERE");
      switch (slide) {
        case "next":
          this.setCurrentSlide(
            this.currentIndex + 1 < this.slides.length
              ? this.currentIndex + 1
              : 0
          );
          break;
        case "prev":
          this.setCurrentSlide(
            this.currentIndex - 1 !== -1
              ? this.currentIndex - 1
              : this.slides.length - 1
          );
          break;
        default:
          if (!isNaN(slide)) {
            this.setCurrentSlide(Number(slide));
          } else {
            throw new Error(
              `Invalid slide, expected index and got ${typeof slide} ${slide}`
            );
          }
      }
    }

    setCurrentSlide(slide: number): void {
      // Get Elements
      const newSlide = this.slides[slide];
      const currentSlide = this.currentSlide;
      // Toggle classes on carousel slides
      currentSlide.classList.remove("active");
      newSlide?.classList.add("active");
      // Change the main carousel styling
      this.el.setAttribute("data-current-slide", `${slide}`);
      this.el.classList.remove(currentSlide.getAttribute("data-styling") || '');
      this.el.classList.add(newSlide?.getAttribute("data-styling") || '');
      // Update Dot
      this.dots.forEach((el, i) => {
        if (i !== slide) {
          el.classList.remove("active");
        } else {
          el.classList.add("active");
        }
      });
      // Update References
      this.currentSlide = newSlide!;
      this.currentIndex = slide;

      // Analytics
      // this.logEvent("apps", "show-slide", `${slide}`);
    }
  }

  document.addEventListener('astro:page-load', () => {
    new Apps();
  });
</script>
