---
const title = "Branclon";
const line1 = "Hi, my name is";
const line2 = "and I build websites";
---

<header>
  <div class="copy line1">
    <p>{line1}</p>
    <!-- <p aria-hidden="true">{line1}</p> -->
  </div>
  <div class="name">
    {title.split("").map((l) => <span data-letter={l}>{l}</span>)}
  </div>
  <div class="copy line2">
    <p>{line2}</p>
    <!-- <p aria-hidden="true">{line2}</p> -->
  </div>
</header>

<!-- <style>
  /* :root {
    --grid-bg: #07091f;
    --grid-bg-1: rgba(0, 0, 0, 0.2);
    --grid-bg-2: rgba(0, 0, 0, 0.1);
  }

  .name {
    /* background: red; */
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 150px;
  }
  .name span {
    color: #000;
    position: relative;
    text-shadow: 4px 4px #000;
  }

  .name span:before {
    content: attr(data-letter);
    text-shadow: none;
    background-color: #4087d8;
    background-image: linear-gradient(#0003 2px, #0000 2px),
      linear-gradient(90deg, #0003 2px, #0000 2px),
      linear-gradient(#0000001a 1px, #0000 1px),
      linear-gradient(90deg, #0000001a 1px, #0000 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s linear infinite bgScroll;
    position: absolute;
    top: 0;
  }
  h1 {
    /* font-family: var(--font-serif); */
    text-transform: none;
  }
  .copy {
    position: relative;
  }
  p {
    margin: 0;
    color: #000;
    mix-blend-mode: color-dodge;
  }

  p[aria-hidden="true"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    mix-blend-mode: color-dodge;
  }
  .line2 {
    margin-top: 200px;
  }
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-serif);
    text-align: center;
    position: relative;
    filter: invert(1);
    /* clip-path: polygon(0 0, 100% 0, 100% 99%, 0% 100%); */
    /* text-transform: uppercase; */
    padding: 4rem 0 5rem;
    /* filter: drop-shadow(3px 3px #000); */
    /* filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1)); */
    height: 80vh;
    font-size: 80px;
    text-align: center;
  }
  header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #0027a2;
    animation: path 5s infinite linear alternate;
    /* hue 10s infinite  */
    z-index: -1;
  }

  @keyframes bgScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 50px 50px;
    }
  }

  @keyframes hue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  @keyframes path {
    0% {
      clip-path: polygon(3% 5%, 94% 3%, 78% 83%, 18% 82%);
    }
    25% {
      clip-path: polygon(13% 3%, 94% 3%, 92% 95%, 7% 91%);
    }
    50% {
      clip-path: polygon(8% 17%, 66% 0, 100% 71%, 27% 100%);
    }
    75% {
      clip-path: polygon(2% 68%, 9% 5%, 100% 16%, 61% 100%);
    }
    100% {
      clip-path: polygon(9% 88%, 10% 27%, 88% 3%, 88% 95%);
    }
  } */
</style> -->
