---
import type { CollectionEntry } from 'astro:content';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import BlogContent from './BlogContent.astro';
import Typewriter from '@components/Typewriter.astro';

interface Props {
  blogPost: CollectionEntry<'blogPosts'>;
  content: AstroComponentFactory;
}
const { data, slug } = Astro.props.blogPost;
const { title } = data;
const Content = Astro.props.content;

const dateFormatter = new Intl.DateTimeFormat('en-CA', {
  dateStyle: 'long'
});
---

<article>
  <header>
    <div class="title-container">
      <time
        datetime={data.datePosted.toISOString()}
        transition:name={`blog-date-${slug}`}
        >{dateFormatter.format(data.datePosted)}</time
      >
      <h1 class="title" transition:name={`blog-title-${slug}`}>
        {title}<Typewriter />
      </h1>
    </div>
  </header>
  <BlogContent>
    <Content />
  </BlogContent>
</article>

<style>
  article {
    margin: 0 auto 5rem;
  }
  header {
    text-align: center;
    padding: 4rem 0;
    background: linear-gradient(
      0.25turn,
      var(--color-primary-400),
      var(--color-primary-700)
    );
  }
  .title-container {
    max-width: 900px;
    text-shadow: 1px 1px #000;
    margin: 0 auto;
    padding: 0 1rem;
  }
  time {
    font-family: var(--font-sansserif);
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .title {
    margin: 0;
    font-size: 1.7rem;
    line-height: 1.2;
    font-family: var(--font-monospace);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
  }

  @media (--tablet) {
    .title {
      font-size: 2rem;
    }
  }
</style>
